html, body {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.app-container {
  max-width: 780px;
  margin: 0 auto;
}

#toDoList {
  width: 100%;
}

.to-do-list-item {
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.03);
  border-bottom: 0;
}

.to-do-list-item:last-child {
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.03);
}

.to-do-list-item .deleteButton {
  float: right;
  margin-right: 1em;
}
